/*.editor-input .el-color-picker__trigger{
	width: 150px !important;
	height: 27px !important;
}*/
.editor-input-component{
	width: 300px;
	/*font-weight: bold;
	font-style: normal;*/
}
.editor-page-content  .el-tabs__content{
	padding: 0 !important;
}
.editor-page-content .el-collapse-item__content{
	padding: 0 !important;
}
.editor-page-content .el-collapse-item__header{
	padding-left: 10px !important;
}
.editor-from-input-header{
	background: #CAE1F2;
	padding: 2px 0;
	line-height: 23px;
	overflow: hidden;
	color: #409eff;
	font-weight: bolder;
}
.editor-from-input-content{
	background: white;
	padding: 10px;
}
.editor-click button{
	cursor: move !important; 
}
/*轮播图高度*/
.v-carousel{
	height: 100% !important;
}
.gallery-dailog .el-tabs--border-card{
	border-bottom: none !important;
	box-shadow: none !important;
}

.gallery-dailog .el-tabs--border-card>.el-tabs__header{
	background: none !important;
}
/*颜色选择器*/
.m-colorPicker{
	z-index: 1000 !important;
	height: 15px !important;
}
.m-colorPicker .colorBtn{
	width: 212px !important;
	height: 15px !important;
	border-radius: 7px;
			border: 1px solid #2589FF;
}
.m-colorPicker .box{
	width: 212px !important;
}
.m-colorPicker .box h3{
	cursor: default;
}
